/* Navbar */
@media (max-width: 575.98px) {
    .navbar-brand {
        margin-left: 0 !important;
    }

    .navbar-toggler {
        margin-right: 0 !important;
    }

    .nav-links {
        margin-left: 0 !important;
    }

    .ms-auto {
        justify-content: center !important;
    }
}

.nav-link {
    font-weight: bold;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: #005FA4;
}

.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Section 1 */
.sec1 {
    min-height: 20vh;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.sec1 h1 {
    text-align: center;
    color: #E91829;
}

.sec1 p {
    text-align: center;
}


.featuresList {
    max-width: 1000px;
    min-height: 100vh;
}

.card {
    border-radius: 20px;
    margin-top: 20px;
    min-height: 320px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: none;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px) scale(1.02);
}


.card-body {
    text-align: left;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 15px;
}

.card-link {
    color: #005FA4;
    text-decoration: none;
    font-weight: bold;
}

.card-link:hover {
    color: #E91829;
    box-shadow: 0 4px 2px -2px #E91829;
}

/* Section 2 */
.sec2 {
    background-color: rgb(118, 11, 20);
    color: white;
    text-align: center;
    padding: 50px 0;
    min-height: 40vh;
    box-shadow: 0 4px 2px -2px gray;
}

.sec2 .btn {
    margin-top: 20px;
    background-color: #cc1818;
    border: none;
    color: white;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.sec2 .btn:hover {
    background-color:#005FA4;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
    
}

.sub-title p {
    font-size: 1rem;
    margin-bottom: 0;
    max-width: 600px;
    margin: auto;
}

.btn-responsive {
    width: auto;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}

@media (max-width: 575.98px) {
    .btn-responsive {
        width: 100%;
        font-size: 1.25rem;
        padding: 1rem 1.5rem;
        margin-top: 1rem;
    }
}


/* Footer */
footer {
    min-height: 50px;
    text-align: center;
    padding: 20px 0;
}

footer .container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

ul.footer-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.footer-links li {
    margin-left: 20px;
}

ul.footer-links li:first-child {
    margin-left: 0;
}

ul.footer-links li a {
    text-decoration: none;
    color: #000;
}